/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/

$colorFondo: #82c0cc;
$margen: 20px;
$fuentePrincipal: "Roboto", sans-serif;

@mixin titulos {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: $margen/2;
  padding: 10px;
}

@mixin encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin descripcionProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*body {
  height: 100vh;
}*/

* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #eef0f2;
  margin-bottom: $margen/2;
  @include encabezado;
}
.encabezadoLogo {
  margin-left: 1rem;
  display: flex;
}

.logo {
  width: 20%;
}

.container-fluid {
  margin-right: 1rem;
  @include encabezado;
}
.navbar-nav {
  > li {
    list-style: none;
    background-color: $colorFondo;
    padding: 0.2rem 0.2rem;
    margin: 0.5rem 0.3rem;
    border-radius: 8px;
    &:hover {
      border: solid 2px;
      padding: 2px 5px;
      border-radius: 5px;
      background-color: #313d3f;
    }
    > a {
      text-decoration: none;
      font-family: $fuentePrincipal;
      line-height: 1.6;
      font-size: 1.2rem;
      color: black;
      &:hover {
        color: white !important;
      }
    }
  }
}
article {
  > ul {
    > li {
      list-style: none;
      font-family: $fuentePrincipal;
      line-height: 1.5;
    }
  }
}

div > ul > li {
  list-style: none;
  font-family: $fuentePrincipal;
  line-height: 1.5;
  padding: 0.4rem;
}

footer {
  background-color: $colorFondo;
  margin-top: $margen;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

section {
  background-color: #d8d8db;
}
h1,
h2,
h3,
h4,
h5 {
  @include titulos;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p,
form {
  font-family: $fuentePrincipal;
}

.productosDestacados {
  text-align: center;
  margin-top: $margen;
  margin-bottom: $margen;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch; /*flex-start;*/
}

.productosDestacados > div {
  transition: transform 0.5s;
}

.productosDestacados > div:hover {
  transform: scale(1.2);
}

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
.infoDeContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  > iframe {
    width: 70vh;
    height: 50vh;
  }
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  font-family: $fuentePrincipal;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-family: $fuentePrincipal;
  border: none;
}

textarea {
  min-height: 130px;
  max-height: 200px;
  max-width: 100%;
}

.botonEnviar {
  background: $colorFondo;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px;
}

i {
  font-size: 2rem;
  color: black;
  margin: 0.3rem;
}
.infoDeLaAgencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fotoProductos {
  width: 40%;
  border-radius: 5px;
}

.fotoExcursiones {
  width: 50%;
  border-radius: 5px;
}

.productosPromocionados {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.descripcionProductos {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.infoProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.featurette-heading {
  background-color: $colorFondo;
  border-radius: 5px;
  padding-left: 200px;
  padding-right: 200px;
}

.descripcionProductos > ul > li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoDeError {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volver {
  background-color: $colorFondo;
  padding: 0.5rem 0.3rem;
  border-radius: 8px;
  font-family: $fuentePrincipal;
  line-height: 1.6;
  font-size: 1.2rem;
}

.Error404 {
  width: 50%;
}

.btn-primary {
  background-color: $colorFondo;
  color: black;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  &:hover {
    border: solid 2px;
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
    background-color: black;
  }
}
@media only screen and (max-width: 414px) {
  .productosDestacados {
    width: 22.5rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 22rem !important;
  }

  .productosDestacados > div:hover {
    transform: scale(1);
  }

  .zocalo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .descripcionProductos {
    padding: 1rem;
    @include descripcionProductos;
  }

  .fotoPaquete {
    max-width: 90%;
    display: block;
    margin: auto;
  }

  .featurette-heading {
    padding-left: 100px;
    padding-right: 100px;
  }

  .fotoProductos {
    max-width: 100%;
    height: auto;
  }

  .fotoExcursiones {
    width: 100%;
    height: auto;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .infoDeContacto {
    > iframe {
      width: 30vh;
      height: 30vh;
    }
  }

  form {
    width: 100%;
  }
}

@media only screen and (min-width: 412px) and (max-width: 415px) {

  .productosDestacados {
    width: 24.7rem !important;

  }
  .card {
    width: 24rem !important;
  }


}

@media only screen and (min-width: 415px) and (max-width: 770px) {
  .descripcionProductos {
    padding: 1rem;
    @include descripcionProductos;
  }
  .productosDestacados > div:hover {
    transform: scale(1);
  }
  .fotoProductos {
    max-width: 100%;
    height: auto;
  }

  .fotoExcursiones {
    width: 100%;
    height: auto;
  }

  .fotoPaquete {
    max-width: 90%;
    display: block;
    margin: auto;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .infoDeContacto {
    > iframe {
      width: 60vh;
      height: 50vh;
    }
  }

  form {
    width: 100%;
  }

  .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .featurette-heading {
    padding-left: 100px;
    padding-right: 100px;
  }

}
@media only screen and (min-width: 771px) and (max-width: 1024px) {
  .fotoProductos {
    max-width: 100%;
    height: auto;
  }

  .fotoExcursiones {
    width: 80%;
    height: auto;
  }

  .descripcionProductos {
    padding: 1rem;
    @include descripcionProductos;
  }

  .row {
    @include descripcionProductos;
  }

  .productosDestacados > div:hover {
    transform: scale(1);
  }

  form {
    width: 100%;
  }
}
