/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/

@import "partials/index-estilo.scss";

@import "partials/paquetes-estilo.scss";

@import "partials/excursiones-estilo.scss";

@import "partials/hoteles-estilo.scss";

@import "partials/contacto-estilo.scss";

$colorFondo: #82c0cc;
$margen: 20px;
$fuentePrincipal: "Roboto", sans-serif;

@mixin titulos {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: $margen/2;
  padding: 10px;
}

@mixin encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@mixin columnCenterCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: $fuentePrincipal;
}

section {
  background-color: #d8d8db;
}

//HEADER

header {
  background-color: #eef0f2;
  margin-bottom: $margen/2;
  @include encabezado;
}

.encabezadoLogo {
  margin-left: 1rem;
  display: flex;
}

.logo {
  width: 20%;
}

.container-fluid {
  margin-right: 1rem;
  @include encabezado;
}
.navbar-nav {
  > li {
    list-style: none;
    background-color: $colorFondo;
    padding: 0.2rem 0.2rem;
    margin: 0.5rem 0.3rem;
    border-radius: 8px;
    &:hover {
      border: solid 2px;
      padding: 2px 5px;
      border-radius: 5px;
      background-color: #313d3f;
    }
    > a {
      text-decoration: none;
      font-family: $fuentePrincipal;
      line-height: 1.6;
      font-size: 1.2rem;
      color: black;
      &:hover {
        color: white !important;
      }
    }
  }
}
article {
  > ul {
    > li {
      list-style: none;
      font-family: $fuentePrincipal;
      line-height: 1.5;
    }
  }
}

div > ul > li {
  list-style: none;
  font-family: $fuentePrincipal;
  line-height: 1.5;
  padding: 0.4rem;
}

//FOOTER

footer {
  background-color: $colorFondo;
  margin-top: $margen;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

i {
  font-size: 2rem;
  color: black;
  margin: 0.3rem;
}

.infoDeLaAgencia {
  @include columnCenterCenter;
  justify-content: center;
}

// CARACTERÍSTICAS GENERALES DE TÍTULOS Y TEXTOS

.tituloHeader {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  @include titulos;
  font-size: 1.3rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

p,
form {
  font-family: $fuentePrincipal;
}

//TITULOS PAQUETES, EXCURSIONES Y HOTELES

.tituloProductos {
  width: 98%;
  padding: 5px;
  background: $colorFondo;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

// CARACTIRISTICAS GENERALES HEADER PAQUETES/EXCURSIONES/HOTELES/CONTACTO

.tituloHeader {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.wave {
  position: absolute;
  bottom: 1%;
  width: 100%;
  margin-bottom: 15px;
}

//HTML ERROR

.error {
  @include columnCenterCenter;
  justify-content: center;
}

.infoDeError {
  @include columnCenterCenter;
  justify-content: center;
}

.volver {
  background-color: $colorFondo;
  padding: 0.5rem 0.3rem;
  border-radius: 8px;
  font-family: $fuentePrincipal;
  line-height: 1.6;
  font-size: 1.2rem;
}

.Error404 {
  width: 50%;
}

.btn-primary {
  background-color: $colorFondo;
  color: black;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  &:hover {
    border: solid 2px;
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
    background-color: black;
  }
}

@media only screen and (max-width: 414px) {
  //FOOTER
  .zocalo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .productosDestacados {
    width: 22.5rem !important;
    @include columnCenterCenter;
    justify-content: center;
  }
  .card {
    width: 22rem !important;
  }

  // TITULOS PAQUETES/EXCURSIONES/HOTELES

  .tituloProductos {
    width: 90%;
  }

  //IMAGEN HEADER

  .tituloHeader {
    background-position: center;
  }

  .wave {
    display: none;
  }

  // HTML PAQUETES TURISTICOS

  .descripcionProductos {
    padding: 1rem;
    @include columnCenter;
  }

  .infoProductos {
    width: 100%;
    text-align: center;
  }

  .infopaquete {
    flex-direction: column;
    justify-content: center;
  }

  .resumenPaquete {
    width: 100%;
    text-align: center;
  }

  .fotoPaquetes {
    width: 100%;
  }

  // EXCURSIONES

  .excursionesPromocionadas {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }

  .containerExcursiones {
    padding-top: 10px;
  }

  .excursionesPromocionadas__imagenes--left {
    text-align: center;
  }

  .excursionesPromocionadas__info:last-child {
    grid-row: 3/4;
  }

  .excursionesPromocionadas__descripcion {
    margin-right: 40px;
  }

  .tituloExcursion {
    margin-right: 60px;
  }

  .botonExcursion {
    width: 65%;
    margin-left: 50px;
  }

  .excursiones__grid {
    grid-template-areas:
      "DegustacionDeVinosMendoza"
      "CataratasDelIguazu "
      "IslaVictoria"
      "RaftingRioMendoza"
      "TrenALasNubes";
  }

  //HOTELES

  .hotelesPromocionados {
    width: 100%;
    text-align: center;
  }

  .botonReserva {
    width: 65%;
  }

  .hoteles {
    display: flex;
    @include columnCenter;
  }

  .imagenHotel {
    width: 44%;
  }

  .hoverGaleria p {
    text-align: center;
  }

  // HTML PAQUETES Y HOTELES

  .descripcion {
    margin-right: 30px;
  }

  // HTML CONTACTO

  .contacto {
    display: flex;
    @include columnCenter;
  }

  .infoDeContacto {
    > iframe {
      width: 30vh;
      height: 30vh;
    }
  }
  form {
    width: 100%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 378px) {
  // HTML INDEX

  .productosDestacados {
    width: 23.4rem !important;
  }
  .card {
    width: 22.3rem !important;
  }
}

@media only screen and (min-width: 411px) and (max-width: 415px) {
  // HTML INDEX

  .productosDestacados {
    width: 25.7rem !important;
  }
  .card {
    width: 24.3rem !important;
  }
}

@media only screen and (min-width: 415px) and (max-width: 770px) {
  // TITULOS PAQUETES/EXCURSIONES/HOTELES

  .tituloProductos {
    width: 90%;
  }

  //IMAGEN HEADER

  .tituloHeader {
    background-position: center;
  }

  .wave {
    display: none;
  }

  // HTML PAQUETES TURISTICOS
  .descripcionProductos {
    padding: 1rem;
    @include columnCenter;
  }

  .infoProductos {
    width: 100%;
    text-align: center;
  }

  .infopaquete {
    flex-direction: column;
    justify-content: center;
  }

  .resumenPaquete {
    width: 100%;
    text-align: center;
  }

  .fotoPaquetes {
    width: 80%;
  }

  // HTML EXCURSIONES
  .excursionesPromocionadas {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }

  .containerExcursiones {
    padding-top: 10px;
  }

  .excursionesPromocionadas__imagenes--left {
    text-align: center;
  }

  .excursionesPromocionadas__info:last-child {
    grid-row: 3/4;
  }

  .tituloExcursion {
    margin-left: 30px;
  }

  .excursionesPromocionadas__descripcion {
    margin-right: 30px;
  }

  .botonExcursion {
    width: 40%;
  }

  .excursiones__grid {
    grid-template-areas:
      "DegustacionDeVinosMendoza CataratasDelIguazu"
      "IslaVictoria RaftingRioMendoza"
      "TrenALasNubes TrenALasNubes";
  }

  // HTML HOTELES
  .hoteles {
    display: flex;
    @include columnCenter;
  }

  .tituloHotel {
    margin-left: 35px;
  }

  .imagenHotel {
    width: 44%;
  }

  .hoverGaleria p {
    text-align: center;
  }

  //BOTON DE RVA PAQUETES Y HOTELES
  .botonReserva {
    width: 60%;
  }

  // HTML CONTACTO

  .contacto {
    @include columnCenter;
  }

  .infoDeContacto {
    > iframe {
      width: 60vh;
      height: 50vh;
    }
  }

  form {
    width: 100%;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1024px) {
  // TITULOS PAQUETES/EXCURSIONES/HOTELES
  .tituloProductos {
    width: 90%;
  }

  //IMAGEN HEADER
  .tituloHeader {
    background-position: center;
  }
  .wave {
    display: none;
  }

  // HTML PAQUETES TURISTICOS
  .descripcionProductos {
    padding: 1rem;
    @include columnCenter;
  }

  .fotoPaquetes {
    width: 60%;
  }

  // HTML EXCURSIONES
  .excursionesPromocionadas {
    grid-template-columns: 1fr;
  }

  .excursionesPromocionadas .containerExcursiones {
    padding-top: 30px;
  }

  .excursionesPromocionadas__imagenes--left {
    text-align: center;
  }

  .excursionesPromocionadas__info:last-child {
    grid-row: 3/4;
  }

  .excursionesPromocionadas__info {
    text-align: center;
    margin-left: 40px;
  }

  .excursionesPromocionadas__descripcion {
    margin-right: 90px;
  }

  .botonExcursion {
    width: 30%;
    margin-left: 270px;
  }

  .excursiones__grid {
    grid-template-areas:
      "DegustacionDeVinosMendoza DegustacionDeVinosMendoza CataratasDelIguazu CataratasDelIguazu"
      "DegustacionDeVinosMendoza DegustacionDeVinosMendoza IslaVictoria IslaVictoria"
      "RaftingRioMendoza RaftingRioMendoza TrenALasNubes TrenALasNubes";
  }

  // HTML HOTELES

  .hoteles {
    @include columnCenter;
  }

  .tituloHotel {
    margin-left: 55px;
  }

  //BOTON DE RVA PAQUETES Y HOTELES
  .botonReserva {
    width: 45%;
  }

  // HTML CONTACTO

  form {
    width: 100%;
  }
  .contacto {
    @include columnCenter;
  }
}
