/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #eef0f2;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encabezadoLogo {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 20%;
}

.container-fluid {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav > li {
  list-style: none;
  background-color: #82c0cc;
  padding: 0.2rem 0.2rem;
  margin: 0.5rem 0.3rem;
  border-radius: 8px;
}

.navbar-nav > li:hover {
  border: solid 2px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #313d3f;
}

.navbar-nav > li > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
  color: black;
}

.navbar-nav > li > a:hover {
  color: white !important;
}

article > ul > li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

div > ul > li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  padding: 0.4rem;
}

footer {
  background-color: #82c0cc;
  margin-top: 20px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section {
  background-color: #d8d8db;
}

.tituloHeader {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 1.3rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

p,
form {
  font-family: "Roboto", sans-serif;
}

.productosDestacados {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.productosDestacados > div {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.productosDestacados > div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  margin-top: 15px;
}

.infoDeContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoDeContacto > iframe {
  width: 70vh;
  height: 50vh;
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-family: "Roboto", sans-serif;
  border: none;
}

textarea {
  min-height: 130px;
  max-height: 200px;
  max-width: 100%;
}

.botonEnviar {
  background: #82c0cc;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px;
}

i {
  font-size: 2rem;
  color: black;
  margin: 0.3rem;
}

.infoDeLaAgencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fotoProductos {
  width: 40%;
  border-radius: 5px;
}

.fotoExcursiones {
  width: 40%;
  border-radius: 5px;
}

.fotoPaquete {
  border-radius: 5px;
  padding-top: 30px;
}

.productosPromocionados {
  padding: 1rem;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.descripcionProductos {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoProductos {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infoExcursiones {
  width: 50%;
}

.featurette-heading {
  background-color: #82c0cc;
  border-radius: 5px;
  padding-left: 200px;
  padding-right: 200px;
}

.descripcionProductos > ul > li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoDeError {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.volver {
  background-color: #82c0cc;
  padding: 0.5rem 0.3rem;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
}

.Error404 {
  width: 50%;
}

.btn-primary {
  background-color: #82c0cc;
  color: black;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
}

.btn-primary:hover {
  border: solid 2px;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  background-color: black;
}

/* HOTELES Y OTROS PAQUETES*/
.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.tituloHotel {
  text-align: center;
  margin-bottom: 60px;
}

.hotelHeader {
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6ed6ed80), to(rgba(33, 147, 176, 0.5))), url(/assets/SenderoLodgeTrevelin.jpg);
  background: linear-gradient(to right, #6ed6ed80, rgba(33, 147, 176, 0.5)), url(/assets/SenderoLodgeTrevelin.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactoHeader {
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6ed6ed80), to(rgba(33, 147, 176, 0.5))), url(/assets/TrekkingValleFrances.jpg);
  background: linear-gradient(to right, #6ed6ed80, rgba(33, 147, 176, 0.5)), url(/assets/TrekkingValleFrances.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.excursionesHeader {
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6ed6ed80), to(rgba(33, 147, 176, 0.4))), url(/assets/SalinasGrandes.jpg);
  background: linear-gradient(to right, #6ed6ed80, rgba(33, 147, 176, 0.4)), url(/assets/SalinasGrandes.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.paquetesHeader {
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6ed6ed80), to(rgba(33, 147, 176, 0.4))), url(/assets/TrekkingLasTorres.jpg);
  background: linear-gradient(to right, #6ed6ed80, rgba(33, 147, 176, 0.4)), url(/assets/TrekkingLasTorres.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tituloHeader {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.wave {
  position: absolute;
  bottom: 1%;
  width: 100%;
  margin-bottom: 15px;
}

.hoteles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.infoHoteles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fotoHoteles {
  width: 80%;
  border-radius: 5px;
}

.hotelesPromocionados .descripcionHoteles {
  width: 80%;
}

.hotelesPromocionados h3 {
  margin-bottom: 15px;
}

.descripcion {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

.galeriaHoteles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagenHotel {
  width: 24%;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 200px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagenHotel > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.hoverGaleria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(128, 191, 203, 0.61);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hoverGaleria p {
  color: white;
  font-weight: bold;
}

.imagenHotel:hover .hoverGaleria {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.otrosPaquetes {
  padding-bottom: 30px;
}

.infopaquete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resumenPaquete {
  width: 28%;
  text-align: center;
}

.resumenPaquete img {
  width: 90%;
}

.resumenPaquete h4 {
  margin: 10px 0;
}

.resumenPaquete p {
  font-weight: 300;
  text-align: justify;
}

.botonReserva {
  padding: 5px;
}

.reserva {
  background: #82c0cc;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.containerExcursiones {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.excursiones__grid {
  display: -ms-grid;
  display: grid;
  height: 550px;
      grid-template-areas: "DegustacionDeVinosMendoza DegustacionDeVinosMendoza CataratasDelIguazu IslaVictoria" "DegustacionDeVinosMendoza DegustacionDeVinosMendoza RaftingRioMendoza TrenALasNubes";
  gap: 10px;
}

.excursiones__conjunto {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.excursiones__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.excursiones__conjunto:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: DegustacionDeVinosMendoza;
}

.excursiones__conjunto:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: CataratasDelIguazu;
}

.excursiones__conjunto:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: IslaVictoria;
}

.excursiones__conjunto:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: RaftingRioMendoza;
}

.excursiones__conjunto:nth-of-type(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: TrenALasNubes;
}

.otrasExcursiones__hover {
  position: absolute;
  background: rgba(128, 191, 203, 0.61);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  cursor: pointer;
}

.excursiones__conjunto:hover .otrasExcursiones__hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 414px) {
  .productosDestacados {
    width: 22.5rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    width: 22rem !important;
  }
  .productosDestacados > div:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .zocalo {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .descripcionProductos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .fotoPaquete {
    max-width: 90%;
    display: block;
    margin: auto;
  }
  .featurette-heading {
    padding-left: 100px;
    padding-right: 100px;
  }
  .fotoProductos {
    max-width: 100%;
    height: auto;
  }
  .fotoExcursiones {
    width: 100%;
    height: auto;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoDeContacto > iframe {
    width: 30vh;
    height: 30vh;
  }
  form {
    width: 100%;
  }
}

@media only screen and (min-width: 412px) and (max-width: 415px) {
  .productosDestacados {
    width: 24.7rem !important;
  }
  .card {
    width: 24rem !important;
  }
}

@media only screen and (min-width: 415px) and (max-width: 770px) {
  .descripcionProductos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .productosDestacados > div:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .fotoProductos {
    max-width: 100%;
    height: auto;
  }
  .fotoExcursiones {
    width: 100%;
    height: auto;
  }
  .fotoPaquete {
    max-width: 90%;
    display: block;
    margin: auto;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoDeContacto > iframe {
    width: 60vh;
    height: 50vh;
  }
  form {
    width: 100%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featurette-heading {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1024px) {
  .fotoProductos {
    max-width: 100%;
    height: auto;
  }
  .fotoExcursiones {
    width: 80%;
    height: auto;
  }
  .descripcionProductos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .productosDestacados > div:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  form {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */