/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/
* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #eef0f2;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encabezadoLogo {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-fluid {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav > li {
  list-style: none;
  background-color: #82c0cc;
  padding: 0.2rem 0.2rem;
  margin: 0.5rem 0.3rem;
  border-radius: 8px;
}

.navbar-nav > li:hover {
  border: solid 2px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #313d3f;
}

.navbar-nav > li > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
  color: black;
}

.navbar-nav > li > a:hover {
  color: white !important;
}

article > ul > li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

footer {
  background-color: #82c0cc;
  margin-top: 20px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section {
  background-color: #d8d8db;
}

h1,
h2,
h3,
h5 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

p,
form {
  font-family: "Roboto", sans-serif;
}

.productosDestacados {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.productosDestacados > div {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.productosDestacados > div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  padding: 50px;
}

.infoDeContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.infoDeContacto > iframe {
  width: 70vh;
  height: 50vh;
}

i {
  font-size: 2rem;
  color: black;
  margin: 0.3rem;
}

.infoDeLaAgencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fotoProductos {
  width: 40%;
  border-radius: 5px;
}

.productosPromocionados {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.descripcionProductos {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descripcionProductos > h3 {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.descripcionProductos > h3:hover {
  padding: 20px;
  background-color: #82c0cc;
}

.descripcionProductos > ul > li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #82c0cc;
  color: black;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
}

.btn-primary:hover {
  border: solid 2px;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  background-color: black;
}

@media only screen and (max-width: 414px) {
  .productosDestacados {
    width: 22.5rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    width: 22rem !important;
  }
  .productosDestacados > div:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .zocalo {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .descripcionProductos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .fotoProductos {
    width: 100%;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoDeContacto > iframe {
    width: 30vh;
    height: 30vh;
  }
}

@media only screen and (min-width: 415px) and (max-width: 770px) {
  .descripcionProductos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .productosDestacados > div:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .fotoProductos {
    width: 100vh;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoDeContacto > iframe {
    width: 60vh;
    height: 50vh;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1024px) {
  .fotoProductos {
    width: 80%;
  }
  .descripcionProductos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .productosDestacados > div:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */